name: "CI"
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v17
        with:
          install_url: https://github.com/numtide/nix-unstable-installer/releases/download/nix-2.9.0pre20220428_660835d/install
          extra_nix_config: |
            experimental-features = nix-command flakes
            system-features = nixos-test benchmark big-parallel kvm recursive-nix

      - uses: cachix/cachix-action@v10
        with:
          name: zeek
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Run Flake Show
        run: nix -Lv flake show

      - name: Check Cliche Example
        run:  nix run .#x86_64-linux.cliche.entrypoints.example add 1 2

      - name: Check Comonicon Example
        run: nix run .#x86_64-linux.comonicon.entrypoints.mycmd

      # - name: Check schedulers of config
      #   run: nix run .#x86_64-linux.schedulers.entrypoints.tenzir-config

      - name: Check cargo-make flow
        run: |
          nix develop ./\#x86_64-linux.main.devshellProfiles.default -c \
          nix run .\#x86_64-linux.cargo-make.entrypoints.flow --print-build-logs --

      - name: Check DevShell Menu
        run: nix develop .#x86_64-linux.main.devshellProfiles.default -c menu

      - name: Build Doc
        run: nix run .\#x86_64-linux.main.entrypoints.mkdoc

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: ./docs/publish/public
